/* media queries */
/* media queries are cascading (definition 2: arrange (a number of devices or objects) in a series or sequence). Largest to smallest width. Top to bottom*/

@media screen and (max-width: 1025px) {
  #block-hr {
    display: none;
  }
}
/* Ipads and Tablets - Portrait */
@media screen and (768px <= width <= 1023px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ .nav-ul-wrapper {
    display: none;
  }

  [aria-expanded="true"] ~ .nav-ul-wrapper {
    display: flex;
    position: relative;
    top: 62px;
    right: 10%;
    background: var(--white);
    height: 5vh;
    width: 70vw;
    border-radius: 3px;
    box-shadow: var(--box-shadow-norm);
  }

  [aria-expanded="true"] ~ .nav-ul-wrapper .link .blue-border {
    padding: 5px 8px;
  }

  .nav-items {
    justify-content: center;
    gap: 0px 30px;
  }

  .link {
    margin-right: 0;
  }

  .hero-wrapper,
  .hero-wrapper-left {
    text-align: center;
    gap: var(--md-row-gap) 0px;
  }

  .hero-wrapper-left .external-wrapper-links {
    display: flex;
    justify-content: center;
  }

  .logo-wrapper[data-type="asana"] {
    top: 0;
    right: 0;
    height: var(--lg-logo);
    width: var(--lg-logo);
    padding: 12px;
  }

  .logo-wrapper[data-type="atlassian"] {
    top: 20px;
    right: 240px;
    height: var(--lg-logo);
    width: var(--lg-logo);
    padding: 12px;
  }

  .logo-wrapper[data-type="calendar"] {
    bottom: -10px;
    right: 0;
    height: var(--md-logo);
    width: var(--md-logo);
    padding: 12px;
  }

  .logo-wrapper[data-type="google-a"] {
    bottom: 45px;
    right: 260px;
    height: var(--sm-logo);
    width: var(--sm-logo);
    padding: 7px;
  }

  .logo-wrapper[data-type="google"] {
    top: 0;
    left: 0;
    height: var(--sm-logo);
    width: var(--sm-logo);
    padding: 8px;
  }

  .logo-wrapper[data-type="paypal"] {
    bottom: 120px;
    left: 20px;
    height: var(--lg-logo);
    width: var(--lg-logo);
    padding: 12px;
  }

  .logo-wrapper[data-type="weave"] {
    bottom: 100px;
    right: 80px;
    height: var(--md-logo);
    width: var(--md-logo);
    padding: 10px;
  }

  .benefits-wrapper-2 {
    grid-template-columns: 1fr;
    padding-top: 0;
  }

  .benefits-wrapper-2-left {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .video-wrapper {
    text-align: -webkit-center;
  }

  .testimonial-wrapper {
    gap: var(--md-row-gap) 0px;
  }

  .testimonial-img {
    left: 70px;
  }

  .testimonial-content {
    text-align: center;
  }

  .company {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sales-wrapper {
    gap: var(--md-row-gap) 0px;
  }

  .perks-wrapper {
    gap: 50px 100px;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--sm-grid-min), var(--sm-grid-max))
    );
  }

  .responsive-wrapper {
    display: flex;
    gap: 0px var(--md-col-gap);
    padding-bottom: 30px;
  }

  .responsive-wrapper-left .pitch {
    width: 60%;
  }

  .responsive-wrapper-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (520px <= width <= 1013px) {
  .price-card {
    width: auto;
  }

  .price-rate,
  .guaranteed-terms {
    text-align: center;
  }

  .video-link {
    text-align: -webkit-center;
  }
}
@media screen and (360px <= width <= 768px) {
}

@media screen and (360px <= width <= 768px) {
}
