/* media queries */
/* media queries are cascading (definition 2: arrange (a number of devices or objects) in a series or sequence). Largest to smallest width. Top to bottom*/

@media screen and (max-width: 64.063rem) {
  #block-hr {
    display: none;
  }
}

@media screen and (max-width: 63.938rem) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ .nav-ul-wrapper {
    display: none;
  }

  [aria-expanded="false"] .closed {
    display: none;
  }
  [aria-expanded="true"] .closed {
    display: inline-block;
  }
  [aria-expanded="true"] .open {
    display: none;
  }

  [aria-expanded="true"] ~ .nav-ul-wrapper {
    position: absolute;
    top: 5.688rem;
    background: var(--white);
    width: 100vw;
    padding: 1.25rem;
  }

  [aria-expanded="true"] ~ .nav-ul-wrapper .link .blue-border {
    padding: 0.313rem 0.5rem;
  }

  .nav-items {
    justify-content: center;
    gap: 1.25rem 1.875rem;
  }

  .link {
    margin-right: 0;
  }

  .hero-wrapper,
  .hero-wrapper-left {
    text-align: center;
    gap: var(--md-row-gap) 0rem;
  }

  .hero-wrapper-left .external-wrapper-links {
    display: flex;
    justify-content: center;
  }

  .benefits-wrapper-2 {
    grid-template-columns: 1fr;
    padding-top: 0;
  }

  .benefits-wrapper-2-left {
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    padding-left: 0;
  }

  .video-wrapper {
    text-align: -webkit-center;
  }

  .sales-wrapper {
    gap: var(--md-row-gap) 0rem;
  }

  .perks-wrapper {
    gap: 3.125rem 6.25rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--sm-grid-min), var(--sm-grid-max))
    );
  }

  .responsive-wrapper {
    display: flex;
    gap: 0rem var(--md-col-gap);
    padding-bottom: 1.875rem;
  }

  .responsive-wrapper-left .pitch {
    width: 60%;
  }

  .responsive-wrapper-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #scrollUp {
    font-size: 1.25rem;
    padding: 0.313rem 0.625rem;
    border-radius: 5px;
    bottom: 1.25rem;
    right: 2.5rem;
  }
}

@media screen and (max-width: 44.75rem) {
  .horizontal-rule-wrapper {
    display: none;
  }

  .footer-top,
  .footer-top-right,
  .footer-bottom-top {
    gap: 1.875rem 4.375rem;
  }

  .footer-top {
    text-align: -webkit-center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .footer-top-left {
    margin-inline: auto;
  }

  .footer-top-right {
    width: fit-content;
  }

  .footer-bottom-top,
  .social-icons-wrapper {
    justify-content: center;
  }

  .footer-bottom-bottom {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .notification-wrapper {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 41.688rem) {
  .why-points-wrapper {
    margin-left: 3.125rem;
    gap: var(--sm-row-gap) 0rem;
  }

  .point {
    flex-direction: row;
    gap: 0rem 5.625rem;
    width: fit-content;
  }

  .icon-rule {
    margin-left: 0rem;
    width: 0rem;
  }

  .point-description {
    display: flex;
    align-items: center;
  }

  .basic-elements {
    padding-left: 0rem;
  }

  .components {
    padding-left: 0rem;
  }

  .combined-components {
    position: initial;
  }

  .page-layouts {
    padding-left: 0rem;
  }
}

@media screen and (max-width: 34.938rem) {
  .testimonial-wrapper {
    margin: var(--sm-mtb-wrapper) 0rem;
    grid-template-columns: 1fr;
  }

  .testimonial-content {
    text-align: center;
    padding-top: 8.125rem;
  }

  .testimonial-client {
    left: 5.938rem;
  }

  .dots {
    right: 5.938rem;
  }

  .company {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 29.688rem) {
  .hero-wrapper {
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--md2-grid-min), var(--md2-grid-max))
    );
  }

  .logo-wrapper[data-type="asana"] {
    top: 0;
    right: 0;
    height: var(--lg-res-logo);
    width: var(--lg-res-logo);
    padding: 0.75rem;
  }

  .logo-wrapper[data-type="atlassian"] {
    height: var(--md-res-logo);
    width: var(--md-res-logo);
    top: 1.875rem;
    right: 7.188rem;
  }

  .logo-wrapper[data-type="calendar"] {
    height: var(--md-res-logo);
    width: var(--md-res-logo);
    bottom: -3.438rem;
  }

  .logo-wrapper[data-type="google-a"] {
    height: var(--sm-res-logo);
    width: var(--sm-res-logo);
    bottom: -0.938rem;
    right: 8.125rem;
  }

  .logo-wrapper[data-type="google"] {
    top: 0;
    left: 0;
    height: var(--md-res-logo);
    width: var(--md-res-logo);
    padding: 0.5rem;
  }

  .logo-wrapper[data-type="paypal"] {
    height: var(--lg-res-logo);
    width: var(--lg-res-logo);
    bottom: 3.125rem;
    left: 0rem;
  }

  .logo-wrapper[data-type="weave"] {
    height: var(--md-res-logo);
    width: var(--md-res-logo);
    bottom: 4.688rem;
    right: 3.75rem;
  }

  .testimonial-img {
    height: 18.75rem;
    width: 18.75rem;
  }

  .testimonial-client {
    top: 1.875rem;
    left: 5.938rem;
  }

  .dots {
    right: 2.813rem;
  }

  .testimonial-content {
    padding-top: 6.875rem;
  }
}

/* Ipads and Tablets - Portrait */

@media screen and (35rem <= width <= 63.938rem) {
  .testimonial-wrapper {
    gap: var(--md-row-gap) 0rem;
    margin: var(--sm-mtb-wrapper) 0rem;
  }

  .testimonial-content {
    text-align: center;
  }

  .testimonial-client {
    left: 6.25rem;
  }

  .dots {
    right: 5.625rem;
  }

  .company {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .price-card {
    width: auto;
  }

  .price-rate,
  .guaranteed-terms {
    text-align: center;
  }

  .video-link {
    text-align: -webkit-center;
  }
}

@media screen and (22.5rem <= width <= 34.938rem) {
  .sales-wrapper {
    grid-template-columns: 20.313rem;
  }

  .price-card {
    padding: 1.875rem;
    text-align: -webkit-center;
    width: initial;
  }

  .price-rate {
    text-align: center;
  }

  .perks-wrapper {
    grid-template-columns: auto;
    justify-content: center;
  }

  .hire-us-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--md2-grid-min), var(--md2-grid-max))
    );
  }

  .responsive-wrapper {
    flex-direction: column;
  }

  .responsive-wrapper-left .pitch {
    width: initial;
  }

  .pitch,
  .testimonial-quote {
    text-align: center;
  }

  .user-input-wrapper,
  .selects-wrapper {
    flex-direction: column;
    gap: 1.25rem;
  }

  .privacy-wrapper label:nth-child(2) {
    display: none;
  }
}

@media screen and (22.5rem <= width <= 47.938rem) {
  .clients {
    grid-template-columns: 1fr;
    gap: var(--md-row-gap) 0rem;
  }

  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ .nav-ul-wrapper {
    display: none;
  }

  [aria-expanded="true"] ~ .nav-ul-wrapper {
    display: flex;
    padding: 1.25rem 0rem;
    gap: 3.125rem;
    position: absolute;
    top: 5.688rem;
    left: 0;
    background: var(--white);
    width: 100vw;
    flex-direction: column;
  }

  [aria-expanded="true"] ~ .nav-ul-wrapper .link .blue-border {
    padding: 0.313rem 0.5rem;
  }

  .nav-items {
    flex-direction: column;
  }
}
