/* media queries */
/* media queries are cascading (definition 2: arrange (a number of devices or objects) in a series or sequence). Largest to smallest width. Top to bottom*/

@media screen and (max-width: 1025px) {
  #block-hr {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ .nav-ul-wrapper {
    display: none;
  }

  [aria-expanded="true"] ~ .nav-ul-wrapper {
    display: flex;
    position: relative;
    top: 62px;
    right: 10%;
    background: var(--white);
    height: 5vh;
    width: 70vw;
    border-radius: 3px;
    box-shadow: var(--box-shadow-norm);
  }

  [aria-expanded="true"] ~ .nav-ul-wrapper .link .blue-border {
    padding: 5px 8px;
  }

  .nav-items {
    justify-content: center;
    gap: 0px 30px;
  }

  .link {
    margin-right: 0;
  }

  .hero-wrapper,
  .hero-wrapper-left {
    text-align: center;
    gap: var(--md-row-gap) 0px;
  }

  .hero-wrapper-left .external-wrapper-links {
    display: flex;
    justify-content: center;
  }

  /* .logo-wrapper[data-type="asana"] {
    top: 0;
    right: 0;
    height: var(--lg-norm-logo);
    width: var(--lg-norm-logo);
    padding: 12px;
  }

  .logo-wrapper[data-type="atlassian"] {
    top: 20px;
    right: 240px;
    height: var(--lg-norm-logo);
    width: var(--lg-norm-logo);
    padding: 12px;
  }

  .logo-wrapper[data-type="calendar"] {
    bottom: -10px;
    right: 0;
    height: var(--md-norm-logo);
    width: var(--md-norm-logo);
    padding: 12px;
  }

  .logo-wrapper[data-type="google-a"] {
    bottom: 45px;
    right: 260px;
    height: var(--sm-norm-logo);
    width: var(--sm-norm-logo);
    padding: 7px;
  }

  .logo-wrapper[data-type="google"] {
    top: 0;
    left: 0;
    height: var(--sm-norm-logo);
    width: var(--sm-norm-logo);
    padding: 8px;
  }

  .logo-wrapper[data-type="paypal"] {
    bottom: 120px;
    left: 20px;
    height: var(--lg-norm-logo);
    width: var(--lg-norm-logo);
    padding: 12px;
  }

  .logo-wrapper[data-type="weave"] {
    bottom: 100px;
    right: 80px;
    height: var(--md-norm-logo);
    width: var(--md-norm-logo);
    padding: 10px;
  } */

  .benefits-wrapper-2 {
    grid-template-columns: 1fr;
    padding-top: 0;
  }

  .benefits-wrapper-2-left {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 0;
  }

  .video-wrapper {
    text-align: -webkit-center;
  }

  .sales-wrapper {
    gap: var(--md-row-gap) 0px;
  }

  .perks-wrapper {
    gap: 50px 100px;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--sm-grid-min), var(--sm-grid-max))
    );
  }

  .responsive-wrapper {
    display: flex;
    gap: 0px var(--md-col-gap);
    padding-bottom: 30px;
  }

  .responsive-wrapper-left .pitch {
    width: 60%;
  }

  .responsive-wrapper-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 716px) {
  .horizontal-rule-wrapper {
    display: none;
  }
}

@media screen and (max-width: 667px) {
  .why-points-wrapper {
    margin-left: 50px;
    gap: var(--sm-row-gap) 0px;
  }

  .point {
    flex-direction: row;
    gap: 0px 90px;
    width: fit-content;
  }

  .icon-rule {
    margin-left: 0px;
    width: 0px;
  }

  .point-description {
    display: flex;
    align-items: center;
  }

  .basic-elements {
    padding-left: 0px;
  }

  .components {
    padding-left: 0px;
  }

  .combined-components {
    position: initial;
  }

  .page-layouts {
    padding-left: 0px;
  }
}

@media screen and (max-width: 475px) {
  .hero-wrapper {
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--md2-grid-min), var(--md2-grid-max))
    );
  }

  .logo-wrapper[data-type="asana"] {
    top: 0;
    right: 0;
    height: var(--lg-res-logo);
    width: var(--lg-res-logo);
    padding: 12px;
  }

  .logo-wrapper[data-type="atlassian"] {
    height: var(--md-res-logo);
    width: var(--md-res-logo);
    top: 30px;
    right: 115px;
  }

  .logo-wrapper[data-type="calendar"] {
    height: var(--md-res-logo);
    width: var(--md-res-logo);
    bottom: -55px;
  }

  .logo-wrapper[data-type="google-a"] {
    height: var(--sm-res-logo);
    width: var(--sm-res-logo);
    bottom: -15px;
    right: 130px;
  }

  .logo-wrapper[data-type="google"] {
    top: 0;
    left: 0;
    height: var(--md-res-logo);
    width: var(--md-res-logo);
    padding: 8px;
  }

  .logo-wrapper[data-type="paypal"] {
    height: var(--lg-res-logo);
    width: var(--lg-res-logo);
    bottom: 50px;
    left: 0px;
  }

  .logo-wrapper[data-type="weave"] {
    height: var(--md-res-logo);
    width: var(--md-res-logo);
    bottom: 75px;
    right: 60px;
  }

  .testimonial-img {
    height: 300px;
    width: 300px;
  }

  .testimonial-client {
    top: 30px;
    left: 95px;
  }

  .dots {
    right: 45px;
  }

  .testimonial-content {
    padding-top: 110px;
  }
}

/* Ipads and Tablets - Portrait */

@media screen and (560px <= width <= 1023px) {
  .testimonial-wrapper {
    gap: var(--md-row-gap) 0px;
    margin: var(--sm-mtb-wrapper) 0px;
  }

  .testimonial-content {
    text-align: center;
  }

  .testimonial-client {
    left: 100px;
  }

  .dots {
    right: 90px;
  }

  .company {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .price-card {
    width: auto;
  }

  .price-rate,
  .guaranteed-terms {
    text-align: center;
  }

  .video-link {
    text-align: -webkit-center;
  }
}

@media screen and (360px <= width <= 559px) {
  .testimonial-wrapper {
    margin: var(--sm-mtb-wrapper) 0px;
  }

  .testimonial-content {
    text-align: center;
    padding-top: 130px;
  }

  .testimonial-client {
    left: 95px;
  }

  .dots {
    right: 95px;
  }

  .company {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sales-wrapper {
    grid-template-columns: 325px;
  }

  .price-card {
    padding: 30px;
    text-align: -webkit-center;
    width: initial;
  }

  .price-rate {
    text-align: center;
  }

  .perks-wrapper {
    grid-template-columns: auto;
    justify-content: center;
  }

  .hire-us-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--md2-grid-min), var(--md2-grid-max))
    );
  }

  .responsive-wrapper {
    flex-direction: column;
  }

  .responsive-wrapper-left .pitch {
    width: initial;
  }

  .pitch,
  .testimonial-quote {
    text-align: center;
  }

  .user-input-wrapper,
  .selects-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .privacy-wrapper label:nth-child(2) {
    display: none;
  }

  .footer-top,
  .footer-top-right,
  .footer-bottom-top {
    gap: 30px;
  }

  .footer-top {
    text-align: -webkit-center;
  }

  .footer-bottom-top,
  .social-icons-wrapper {
    justify-content: center;
  }

  .footer-bottom-bottom {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (360px <= width <= 767px) {
  .clients {
    grid-template-columns: 1fr;
    gap: var(--md-row-gap) 0px;
  }
}
