/* custom styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

:root {
  --link: #1363df;
  --weight-6: 600;
  --gray: #818589;
  --light-gray: rgba(240, 240, 240);
  --dark-gray: rgba(54, 69, 79, 0.8);
  --white: #fff;
}

body {
  position: relative;
  font-family: "Inter", Courier, monospace;
}

svg {
  position: absolute;
}

.site-container {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
  padding-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
}

nav a img {
  height: 50px;
  width: 150px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 0px 20px;
  font-weight: var(--weight-6);
  font-size: 14px;
}

.nav-link a {
  text-decoration: none;
  color: var(--gray);
}

.nav-link .blue-border {
  background: var(--link);
  color: var(--white);
  padding: 12px 20px;
  border-radius: 50px;
  margin: 0px 15px;
  font-size: 12px;
}

.hero-wrapper {
  margin-top: 50px;
}

.hero-wrapper-links {
  display: flex;
  gap: 0px 30px;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.hero-wrapper-left p {
  color: var(--dark-gray);
}
.hero-wrapper-links {
  display: flex;
  align-items: center;
}

.play-video i,
a {
  text-decoration: none;
  color: var(--white);
}

.play-video i {
  font-size: 18px;
}

.play-video a {
  font-size: 12px;
}

.play-video {
  display: flex;
  align-items: center;
  gap: 0px 10px;
  background: var(--link);
  padding: 12px 20px;
  border-radius: 50px;
}

.learn-more a {
  text-decoration: none;
  color: var(--link);
  font-weight: var(--weight-6);
}

.logos {
  border: 10px dashed yellow;
}

.logos img {
  height: 50px;
  width: 50px;
}

.benefits-container {
  margin-top: 50px;
}

.title-description {
  text-align: center;
}

.title-description p {
  color: var(--dark-gray);
}

.benefits-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 100px;
  margin: 0 30px;
}

.benefit-card img {
  height: 50px;
  width: 50px;
}

.benefit-card p {
  color: var(--dark-gray);
  color: var(--dark-gray);
}

.benefits-wrapper-2 {
  background: rgba(240, 240, 240, 0.4);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 125px;
  margin: 0 30px;
}

.benefits-wrapper-2-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  padding-left: 50px;
}

.benefits-wrapper-2-left h2 {
  font-size: 30px;
}

.benefits-wrapper-2-right {
  text-align: right;
}

.benefits-wrapper-2-right img {
  width: 100%;
  object-fit: cover;
}

.why-points-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  justify-content: center;
  margin-left: 110px;
}

.point {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-rule {
  display: flex;
  margin-left: 50px;
  width: 100%;
}

.point-icon {
  background: var(--link);
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  margin: 0px 3px;
  position: relative;
}

.point-icon i {
  color: var(--link);
  font-size: 4px;
}

.horizontal-rule-wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}

.horizontal-rule {
  height: 2px;
  width: inherit;
  background: var(--light-gray);
}

.basic-elements {
  padding-left: 24px;
}

.components {
  padding-left: 28px;
}

.page-layouts {
  padding-left: 40px;
}

.templates-ei-wrapper {
  margin: 0 50px;
  object-fit: cover;
}

.testimonial-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
  justify-content: center;
  align-content: center;
  margin-top: 100px;
  margin-bottom: 150px;
}

.testimonial-img {
  height: 400px;
  width: 400px;
  position: relative;
}

.testimonial-img img {
  object-fit: cover;
}

.dots {
  position: absolute;
  top: 95px;
  right: 195px;
  z-index: 1;
  width: 70%;
  height: 100%;
}
.testimonial-client {
  position: absolute;
  z-index: 10;
  width: 90%;
  height: 100%;
}

.testimonial-content {
  padding-top: 70px;
}

.testimonial {
  padding: 40px 0px 50px 0px;
  line-height: 1.5;
}

.gray {
  color: rgba(54, 69, 79, 0.8);
}

.company {
  height: 50px;
  width: 100px;
}

.company img {
  aspect-ratio: 1 / 1;
}

.clients {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.client {
  height: auto;
  width: 100px;
  margin-inline: auto;
}

.client img {
  aspect-ratio: 1 / 1;
}

.sales-wrapper {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.sales-benefits-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.hire-us-form {
  display: flex;
  justify-content: center;
}

.woman {
  height: auto;
  width: 50px;
}

.woman img {
  aspect-ratio: 1/1;
}

.man {
  height: auto;
  width: 100px;
}

.man img {
  aspect-ratio: 1/1;
}
