/* custom styles */

body {
  position: relative;
}

svg {
  position: absolute;
}

.site-container {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
  padding-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
}

nav a img {
  height: 50px;
  width: 150px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 0px 20px;
}

.hero-wrapper {
  margin-top: 50px;
}

.hero-wrapper-links {
  display: flex;
  gap: 0px 30px;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.logos {
  border: 10px dashed yellow;
}

.logos img {
  height: 50px;
  width: 50px;
}

.benefits-container {
  margin-top: 50px;
}

.title-description {
  text-align: center;
}

.benefits-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 100px;
  margin: 0 30px;
}

.benefit-card img {
  height: 50px;
  width: 50px;
}

.benefits-wrapper-2 {
  background: rgba(240, 240, 240, 0.4);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 125px;
  margin: 0 30px;
}

.benefits-wrapper-2-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  padding-left: 50px;
}

.benefits-wrapper-2-left h2 {
  font-size: 30px;
}

.benefits-wrapper-2-right {
  text-align: right;
}

.benefits-wrapper-2-right img {
  width: 100%;
  object-fit: cover;
}

.why-points-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
  max-width: 1300px;
}

.points-icon {
  display: flex;
  padding-left: 15px;
  max-width: 1250px;
}

.point-icon {
  background: rgba(240, 240, 240);
  border-radius: 50px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.point-icon i {
  font-size: 4px;
  z-index: 1;
}

.horizontal-rule-wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}

.horizontal-rule {
  height: 2px;
  width: inherit;
  background: red;
}

.points-description {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
}

.point-description {
  position: relative;
}

.components {
  position: absolute;
  right: -32px;
  width: 90px;
}

.combined-components {
}

.page-layouts {
  position: absolute;
  right: 18px;
  width: 90px;
}
