/* custom styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

:root {
  --link: #1364dd;
  --blue-bg: rgb(19, 100, 221, 0.1);
  --weight-6: 600;
  --weight-9: 900;
  --gray: #818589;
  --light-gray: rgba(240, 240, 240);
  --dark-gray: rgba(101, 101, 101, 0.8);
  --white: #fff;
  --black: #000;
}

body {
  font-family: "Inter", Courier, monospace;
  overflow-x: hidden;
}

body > * {
  flex: 1;
}

.site-container {
  position: relative;
}

svg {
  position: absolute;
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a img {
  height: 50px;
  width: 150px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 0px 20px;
  font-weight: var(--weight-6);
  font-size: 14px;
}

.nav-link a {
  text-decoration: none;
  color: var(--gray);
}

.link .blue-border {
  background: var(--link);
  color: var(--white);
  padding: 12px 20px;
  border-radius: 50px;
  margin: 0px 15px;
  font-size: 12px;
}

.hero-wrapper {
  margin-top: 50px;
}

.hero-wrapper-links {
  display: flex;
  gap: 0px 30px;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 600px));
  justify-content: space-around;
  align-items: center;
}

.hero-wrapper-left h1 {
  font-size: 40px;
  font-weight: 500;
}

.hero-wrapper-left p {
  color: var(--dark-gray);
  padding: 10px 0px 20px 0px;
}
.hero-wrapper-links {
  display: flex;
  align-items: center;
}

.play-video i,
a {
  text-decoration: none;
  color: var(--white);
}

.play-video i {
  font-size: 18px;
}

.play-video a {
  font-size: 12px;
}

.play-video {
  display: flex;
  align-items: center;
  gap: 0px 10px;
  background: var(--link);
  padding: 12px 20px;
  border-radius: 50px;
}

.learn-more a {
  text-decoration: none;
  color: var(--link);
  font-weight: var(--weight-6);
}

.hero-wrapper-right {
  border: 10px dashed yellow;
  position: relative;
  padding: 145px;
}

.logo-wrapper {
  position: absolute;
}

.logo-wrapper[data-type="asana"] {
  top: 0;
  right: 0;
}

.logo-wrapper[data-type="atlassian"] {
  top: 0;
  right: 400px;
}

.logo-wrapper[data-type="calendar"] {
  bottom: 0;
  right: 0;
}

.logo-wrapper[data-type="google-a"] {
  bottom: 50px;
  right: 220px;
}

.logo-wrapper[data-type="google"] {
  top: 0;
  left: 0;
}

.logo-wrapper[data-type="paypal"] {
  bottom: 110px;
  left: 0;
}

.logo-wrapper[data-type="weave"] {
  bottom: 110px;
  right: 100px;
}

.logo-wrapper img {
  height: 50px;
  width: 50px;
}

.benefits-container {
  margin-top: 50px;
}

.title-description {
  text-align: center;
}

.title-description p {
  color: var(--dark-gray);
}

.benefits-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 100px;
  margin: 0 30px;
}

.benefit-card img {
  height: 50px;
  width: 50px;
}

.benefit-card p {
  color: var(--dark-gray);
  color: var(--dark-gray);
}

.benefits-wrapper-2 {
  background: rgba(240, 240, 240, 0.4);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 125px;
  margin: 0 30px;
}

.benefits-wrapper-2-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  padding-left: 50px;
}

.benefits-wrapper-2-left h2 {
  font-size: 30px;
}

.benefits-wrapper-2-left .play-video {
  width: fit-content;
}

.benefits-wrapper-2-right {
  text-align: right;
}

.benefits-wrapper-2-right img {
  width: 100%;
  object-fit: cover;
}

.why-points-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  justify-content: center;
  margin-left: 110px;
}

.point {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-rule {
  display: flex;
  margin-left: 50px;
  width: 100%;
}

.point-icon {
  background: var(--link);
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  margin: 0px 3px;
  position: relative;
}

.point-icon i {
  color: var(--link);
  font-size: 4px;
}

.horizontal-rule-wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}

.horizontal-rule {
  height: 2px;
  width: inherit;
  background: var(--light-gray);
}

.basic-elements {
  padding-left: 24px;
}

.components {
  padding-left: 28px;
}

.page-layouts {
  padding-left: 40px;
}

.templates-ei-wrapper {
  margin: 0 50px;
  object-fit: cover;
}

.testimonial-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
  justify-content: center;
  align-content: center;
  margin-top: 100px;
  margin-bottom: 150px;
}

.testimonial-img {
  height: 400px;
  width: 400px;
  position: relative;
}

.testimonial-img img {
  object-fit: cover;
}

.dots {
  position: absolute;
  top: 95px;
  right: 195px;
  z-index: 1;
  width: 70%;
  height: 100%;
}
.testimonial-client {
  position: absolute;
  z-index: 10;
  width: 90%;
  height: 100%;
}

.testimonial-content {
  padding-top: 70px;
}

.testimonial {
  padding: 40px 0px 50px 0px;
  line-height: 1.5;
}

.role {
  color: var(--dark-gray);
}

.gray {
  color: rgba(54, 69, 79, 0.8);
}

.company {
  height: 50px;
  width: 100px;
}

.company img {
  aspect-ratio: 1 / 1;
}

.clients {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.client {
  height: auto;
  width: 100px;
  margin-inline: auto;
}

.client img {
  aspect-ratio: 1 / 1;
}

.price-container {
  margin-bottom: 100px;
}

.sales-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  justify-content: center;
  margin-top: 75px;
}

.price-card {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 30px 70px 30px;
  box-shadow: 0px 10px 10px 5px var(--light-gray);
}

.price-rate {
  border-bottom: 2px solid var(--dark-gray);
  width: 80%;
  padding: 30px 0px;
}

.price {
  font-size: 50px;
}

.rate {
  color: var(--dark-gray);
}

.guaranteed-terms {
  padding: 20px 0px 40px 0px;
}

.video-link .play-video {
  width: fit-content;
  margin-bottom: 15px;
}

.sales-benefits-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.sales-benefits-wrapper p {
  font-size: 14px;
}

.sales-benefits-wrapper img {
  height: 50px;
  width: 50px;
}

.cancel-wrapper {
  display: flex;
  align-items: center;
  gap: 0px 10px;
}

.sketch {
  background: #13df8f;
  color: var(--white);
  border-radius: 50px;
  padding: 3px 7px;
  font-size: 12px;
}

.hire-us-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  justify-content: center;
  background: #002d62;
  padding: 30px 0px;
}

.hire-us-wrapper {
  color: var(--white);
}

.pitch {
  border-bottom: 2px solid var(--white);
  width: 30%;
  padding: 30px 0px;
}

.hire-us-wrapper .pitch p,
.role {
  color: var(--white);
  opacity: 0.4;
}

.pitch h2 {
  padding: 10px 0px;
}

.pitch p {
  font-size: 14px;
}

.testimonial-quote {
  padding: 30px 0px;
}

.hire-us-wrapper .name-and-role {
  padding: 30px 0px;
}

.hire-us-wrapper .name-and-role .name {
  color: var(--white);
}

.hire-us-wrapper .role {
  font-size: 12px;
}

.models {
  display: flex;
  align-items: center;
  gap: 0px 25px;
  padding: 20px 0px;
}

.woman {
  height: auto;
  width: 40px;
}

.woman img {
  aspect-ratio: 1/1;
  border-radius: 50px;
}

.man {
  height: auto;
  width: 60px;
}

.man img {
  aspect-ratio: 1/1;
  border-radius: 50px;
}

.form-wrapper {
  background: var(--white);
  border-radius: 10px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  /* align-items: center; */
}

.user-input-wrapper {
  display: flex;
}

.user-input-wrapper input {
  flex: 1;
}

.selects-wrapper {
  display: flex;
}

.selects-wrapper select {
  flex: 1;
}

.checkbox-terms-wrapper {
  display: flex;
  padding: 20px 0px;
}

.privacy-wrapper {
  display: flex;
  justify-content: center;
  gap: 0px 30px;
}

.privacy-wrapper a {
  color: var(--dark-gray);
  border-bottom: 2px dashed var(--dark-gray);
}

.form-link {
  text-align: center;
  margin: 20px 0px;
}

footer {
  width: 100%;
  color: var(--dark-gray);
  padding: 0px 20px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 0px 100px;
  padding: 60px 0px 30px 0px;
}

.footer-top-left {
  width: fit-content;
}

.footer-top-left-logo {
  height: fit-content;
  width: 100px;
  padding-bottom: 14px;
}

.footer-top-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  justify-content: center;
  width: 60%;
}

.service-column h4 {
  color: var(--black);
  padding-bottom: 10px;
  font-weight: var(--weight-9);
}

.services li {
  padding: 4px 0px;
  font-size: 14px;
  word-spacing: 1.5px;
}

.footer-bottom-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
  justify-content: space-between;
  width: 100%;
  padding: 30px 0px;
}

.privacy-terms-site-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.privacy-terms-site-wrapper i {
  padding: 0px 7px;
  font-size: 10px;
}

.social-icons-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0px 20px;
}

.social-icon,
.select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue-bg);
  padding: 8px 10px;
  border-radius: 5px;
}

.social-icon i {
  font-size: 12px;
}

.select-wrapper select {
  background: transparent;
  border: none;
  outline: none;
}

.footer-bottom-bottom {
  text-align: center;
  padding-bottom: 20px;
  font-size: 14px;
}

.rights {
  padding: 20px 0px;
}

.rights i {
  font-size: 10px;
}

.disclaimer {
  line-height: 1.5;
  word-spacing: 1.5px;
}
